
<p id="notice"><%= notice %></p>

<h1>Browse Matches</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th class="blue"> Blue Alliance </th>
      <th class="red"> Red Alliance </th>
      <th> Score </th>
      <th>Time</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <!-- so, ideally, you press on a team name and it either gives u the performance or prompts you to make one. But, due to a lack of time i will just make it take u to the performance list. !-->
  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.number %></td>
        <td class="blue">
          <% match.alliances["blue"]["teams"].each_with_index do |team, index| %>
            <%= link_to team[3..-1].to_s, team_performances_path(Integer(team[3..-1])), class: "blue" %>
          <% end %> 
        </td>
        <td class="red">
          <% match.alliances["red"]["teams"].each_with_index do |team, index| %>
            <%= link_to team[3..-1].to_s, team_performances_path(Integer(team[3..-1])), class: "red" %>
          <% end %> 
        </td>
        <td class="green">
          <!-- todo: bold the winner !-->
          <span class="blue"><%= match.alliances["blue"]["score"] %></span>:<span class="red"><%= match.alliances["red"]["score"] %></span>
        </td>
        <td><%= match.time.strftime("%a %I:%M %p") %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
